<!DOCTYPE html>
<html lang="ko">
    <head>
            <script
            src="https://code.jquery.com/jquery-3.4.0.js"
            integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
            crossorigin="anonymous"></script>
        <!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
      
<meta charset="utf-8">
        <title>wordcount</title>
    </head>

    <style> 
    body {
        background:pink;
    }
    </style>
    
<h1>About</h1>

<p>안녕하세요! 이곳은 글자를 세 주는 멋쟁이 사자처럼의 워드카운트 웹 페이지입니다. 여기에서 글자를 세세요.</p>

<a href="{%url 'home'%}">home으로 돌아가기</a>